/*.root {
     color: rgba(255, 255, 255, 0.93); 
    background-color: #1c1e29;
}*/

.root header div{
    padding-left: 8px;
    padding-right: 8px;
}

.MuiPaper-root .MuiListItemIcon-root {
    min-width: 40px;  
    padding: 4px;  
}

/*.MuiBox-root .MuiListItemIcon-root {
     color: rgba(255, 255, 255, 0.7) 
}*/


