body {
    padding-top: 64px;  /* Altura del AppBar */
  }  

.root header {
    justify-content: center;
    box-shadow: var(--Paper-shadow);
}

.root header div{
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
}

.MuiPaper-root .MuiListItemIcon-root {
    min-width: 40px;  
    padding: 4px;  
}



